<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <title>News Api</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top px-5">
  <div class="container-fluid">
    <a class="navbar-brand text-danger fw-bold" href="#">WNews</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">World</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Style</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sport</a>
        </li>
        
      </ul>
      <form class="d-flex ms-auto">
        <input class="form-control me-2 border-0 border-bottom bg-light" type="search" placeholder="Search" aria-label="Search">
        <i class="fas fa-search btn text-danger fs-4 fw-light"></i>
      </form>
    </div>
  </div>
</nav>

<h2 class="text-danger my-4 mx-5 px-3 border-bottom pb-3 pt-4"> Top Articles</h2>

<ul class="cards row  row-cols-4 gx-0 gy-5  me-5 pe-5  " type="none">
  {{#each articles}}
  <li style="display: inline-block; " class="col" >
<div class="card my-5 mx-5 h-100" style="width: 18rem; height: 16rem;">
  <img src="{{urlToImage}}" class="card-img-top  " >
  <div class="card-body">
    <h5 class="card-title" id="title">
      {{ title}}
      
      
    <h6 class="card-title">{{author}}</h6>
    <p class="card-text">{{description}}</p>
    
  </div>
</div>
</li>
{{/each}}
</ul>


<footer class="row row-cols-5 py-5 my-5 mx-5 px-5 border-top ">
  <div class="col">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
    </a>
    <p class="text-danger fw-bold fs-4">WNews</p>
  </div>

  <div class="col">

  </div>

  <div class="col">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Business</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Health</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Style</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Entertainment</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Travel</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sport</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Business</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Health</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Style</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Entertainment</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Travel</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sport</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Business</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Health</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Style</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Entertainment</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Travel</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sport</a></li>
    </ul>
  </div>
</footer>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>   
</body>
</html>